<p *ngFor="let temp of books">
 <strong>name:</strong> {{temp.name}}
 <strong>author:</strong>{{temp.author}}
</p>
<br>
<div>
<h2>Add book to list</h2>
<label >Enter Book-Id:</label> <br>
<input type="number" [(ngModel)]="addId" /><br>
<label > Enter Book_name:</label> <br>
<input type="text" [(ngModel)]="addName" /><br>
<label >Enter Book-author</label> <br>
<input type="text" [(ngModel)]="addAuthor" />
<br>
<button (click)="addbook()">Add Book</button>

</div>

<h2>delete book from the list</h2>
<label >Enter Book-Id:</label> <br>
<input type="number" [(ngModel)]="deleteId" />
<button (click)="deletebook()">Delete-Book</button>
<br>

<h2>Customer details</h2>
<table class="table">

<thead >
<tr>
<th>Customer id<th>
<th>Name</th>
<th>email</th>
<th>mobile</th>
</tr>
 </thead>
 <tbody  >
     <tr *ngFor="let det of customer" >
<td>{{det.id}}</td>
<td>{{det.name}}</td>
<td>{{det.email}}</td>
<td>{{det.mblno}}</td>
</tr>
    </tbody>
</table>

<router-outlet></router-outlet>